<ion-content class="ion-padding">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-icon name="log-in-outline" class="logo-icon"></ion-icon>
        <ion-card-title>Login</ion-card-title>
        <ion-card-subtitle>Enter your credentials</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="login()" #loginForm="ngForm">
          <ion-item lines="full">
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label position="stacked">Username</ion-label>
            <ion-input [(ngModel)]="username" name="username" type="text" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label position="stacked">Password</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="!loginForm.valid || isLoading">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <ng-container *ngIf="!isLoading">
              Login
            </ng-container>
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
