.custom-tab-bar {
  /* override background & color */
  --background: ; /* brown → golden */
  //--color: #fff8dc;
  --color-selected: white;
  --border: none;
  height: 50px;
 // box-shadow: 0 -2px 10px rgba(139, 69, 19, 0.25);
 // border-top-left-radius: 15px;
 // border-top-right-radius: 15px;
}

/* Normal tabs */
.custom-tab-bar ion-tab-button {
  --color: #450101ef;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

/* Active tab */
.custom-tab-bar ion-tab-button.tab-selected {
  --color: #fff;
  background: #450101ef;
  //border-radius: 10px;
 // margin: 4px;
// box-shadow: 0 0 10px rgba(212, 175, 55, 0.5);
}
