ion-toolbar {
  --background: #1976d2;
  --color: white;
}

.form-card {
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(25, 118, 210, 0.2);
}

ion-card-title {
  color: #1976d2;
  font-weight: 600;
  text-align: center;
}

ion-button {
  --border-radius: 12px;
  font-weight: 500;
}
