#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.bill-table {
  overflow-x: auto;  // horizontal scroll on small screens
  white-space: nowrap;

  ion-grid {
    min-width: 500px; // keep fixed layout
  }
}

.table-header, .table-footer {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.table-row {
  border-bottom: 1px dashed #e0e0e0;
  align-items: center;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.qty {
  margin: 0 6px;
  font-weight: bold;
}
