 <!-- <ion-item>
    <ion-label>Item</ion-label>
    <ion-select [(ngModel)]="selectedItem">
     <ion-select-option *ngFor="let item of items" [value]="item">
  {{ item.itemname }} - {{ item.price | currency:'INR' }}
</ion-select-option>

    </ion-select>
  </ion-item>

  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>

 <div *ngIf="selectedItem" class="ion-margin-top">
  <p><strong>Selected:</strong> {{ selectedItem.itemname }}</p>
  <p><strong>Price:</strong> {{ selectedItem.price | currency:'INR' }}</p>
</div> -->

<ion-content class="ion-padding">

  <!-- Search Input -->
  <ion-item>
    <ion-label position="stacked">Item</ion-label>
    <ion-input [(ngModel)]="searchText" (ionInput)="onSearchChange($event)" placeholder="Type item name"></ion-input>
  </ion-item>

  <!-- Dropdown list -->
  <ion-list *ngIf="showDropdown">
    <ion-item button *ngFor="let item of filteredItems" (click)="selectItem(item)">
      {{ item.itemname }} - {{ item.price | currency:'INR' }}
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>

  <!-- Display selected item -->
  <div *ngIf="selectedItem" class="ion-margin-top">
    <p><strong>Selected:</strong> {{ selectedItem.itemname }}</p>
    <p><strong>Price:</strong> {{ selectedItem.price | currency:'INR' }}</p>
  </div>

</ion-content>
